<mat-toolbar color="primary">
  <div class="container">
    <div style="display: flex; justify-content: space-between; width: 100%;" >
        <div>
            <button mat-button [routerLink]="['/home']"><h3>Divelement-app</h3></button>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </div>
      </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>