<div class="container">
  <div class="well">
    <div style="text-align: center;">
      <img
        [src]="user?.avatar_url"
        name="aboutme" width="140" height="140" class="img-circle">
      <br><br>
      <h2>{{user?.name}}</h2>
      <span>{{user?.login}}</span>
      -      
      <span>Member Since {{user?.created_at | date:"MMMM dd, yyyy"}}</span>          
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center" color="accent" backgroundColor="primary" style="margin-top: -30px;">
    <mat-tab label="Overview">
        <div>
            <h1>Github Graph</h1>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 46%;">              
              <app-public-activity-list title="Public Activity" [activities]="activities"></app-public-activity-list>
            </div>

            <div style="width: 47%;">              
              <app-public-repositories-list title="Public Repositories" [repositories]="repositories"></app-public-repositories-list>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Activity">
      <div>
        <app-public-activity-list title="Most Recent Activity" [activities]="activities"></app-public-activity-list>
      </div>
    </mat-tab>
    <mat-tab label="Personal Projects">
      <div>
        <app-public-repositories-list title="Public Repositories" [repositories]="repositories"></app-public-repositories-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>